<tr>
    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= @stock.product_name%></td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= @stock.description%></td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= @stock.quantity%></td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= @stock.price%></td>
    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
    <%=link_to "Edit",  edit_stock_path(@stock), "x-on:click": "isModalOpen = true", class: "text-indigo-600 hover:text-indigo-900"%>
    <%=link_to "Delete", stock_path(@stock), data: {turbo_method: :delete, turbo_confirm: "Sure you want to delete"} , class: "text-indigo-600 hover:text-indigo-900"%>
    </td>
</tr>
