<%# <header>
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">Dashboard</h1>
    </div>
</header> %>
<div class="inline-block min-w-full mx-25 py-2 align-middle sm:px-6 lg:px-8">
<div class="md:flex md:items-center md:justify-between">
  <div class="min-w-0 flex-1">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight"><%=@title%></h2>
  </div>

  <div>
 
    <%= render 'stocks/search_form'%>
 
  </div>

  <%if !@link.nil?%>
  <div class="mt-4 flex md:mt-0 md:ml-4">
  <%=link_to @link.path, type: "button", "x-on:click": "isModalOpen = true", data: {"turbo_action": "replace",turbo_stream: true}, class: "ml-3 inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" do %>
        <%= @link.title%>
    <%end%>
  </div>
  <%end%>
</div>
</div>


