<div class="relative mt-2 flex items-center">
<%= search_form_for @q do |f|%>
  <%= f.search_field :product_name_cont, placeholder: "search", class: "block w-full rounded-md border-0 py-1.5 pr-12 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
<%end%>
</div>