<% content_for(:header) do %>
    <%= render Dashboard::PageHeaderComponent.new(title: "New stock",link: Link.new('Back', stocks_path ) ) %>
<%end%>
<% content_for(:content) do %>

<div class="mx-auto md:w-2/3 w-full">
  <%= render "form", stock: @stock %>
</div>
<%end%>


