<% content_for(:header) do %>
    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Forget Password</h2>
    <p class="mt-2 text-center text-sm text-gray-600">
      Or
      <%= link_to "Sign Up", rodauth.login_path, class: "font-medium text-indigo-600 hover:text-indigo-500" %>
    </p>
<%end%>
<% content_for(:form) do %>
  <%= form_with url: rodauth.remember_path, method: :post, data: { turbo: false }, class: "w-full max-w-sm" do |form| %>
    <fieldset class="mb-6 space-y-2">
      <div class="flex items-center space-x-2">
        <%= form.radio_button rodauth.remember_param, rodauth.remember_remember_param_value, id: "remember-remember", class: "dark:bg-gray-900 dark:border-gray-600 dark:checked:bg-current dark:checked:border-current dark:checked:text-emerald-400 dark:focus:ring-emerald-400 dark:focus:ring-offset-gray-900" %>
        <%= form.label "remember-remember", rodauth.remember_remember_label, class: "text-sm" %>
      </div>
      <div class="flex items-center space-x-2">
        <%= form.radio_button rodauth.remember_param, rodauth.remember_forget_param_value, id: "remember-forget", class: "dark:bg-gray-900 dark:border-gray-600 dark:checked:bg-current dark:checked:border-current dark:checked:text-emerald-400 dark:focus:ring-emerald-400 dark:focus:ring-offset-gray-900" %>
        <%= form.label "remember-forget", rodauth.remember_forget_label, class: "text-sm" %>
      </div>
      <div class="flex items-center space-x-2">
        <%= form.radio_button rodauth.remember_param, rodauth.remember_disable_param_value, id: "remember-disable", class: "dark:bg-gray-900 dark:border-gray-600 dark:checked:bg-current dark:checked:border-current dark:checked:text-emerald-400 dark:focus:ring-emerald-400 dark:focus:ring-offset-gray-900" %>
        <%= form.label "remember-disable", rodauth.remember_disable_label, class: "text-sm" %>
      </div>
    </fieldset>

    <%= form.submit rodauth.remember_button, class: "flex w-full justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
  <% end %>
<%end%>
