<% content_for(:header) do %>
    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Forget Password</h2>
    <p class="mt-2 text-center text-sm text-gray-600">
      Or
      <%= link_to "Sign In", rodauth.login_path, class: "font-medium text-indigo-600 hover:text-indigo-500" %>
    </p>
<%end%>
<% content_for(:form) do %>
  <%= form_with url: rodauth.reset_password_request_path, method: :post, data: { turbo: false }, class: "w-full max-w-sm" do |form| %>
    <div class="mb-4 text-sm">
      <%== rodauth.reset_password_explanatory_text %>
    </div>

    <% if params[rodauth.login_param] && !rodauth.field_error(rodauth.login_param) %>
      <%= form.hidden_field rodauth.login_param, value: params[rodauth.login_param] %>
    <% else %>
      <div class="mb-6">
        <%= form.label "login", rodauth.login_label, class: "block text-sm font-semibold" %>
        <%= form.email_field rodauth.login_param, value: params[rodauth.login_param], id: "login", autocomplete: "email", required: true, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm #{rodauth.field_error(rodauth.login_param) ? "border-red-600 focus:ring-red-600 focus:border-red-600 dark:border-red-400 dark:focus:ring-red-400" : "ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" }", aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param)) %>
        <%= content_tag(:span, rodauth.field_error(rodauth.login_param), class: "block mt-1 text-red-600 text-xs dark:text-red-400", id: "login_error_message") if rodauth.field_error(rodauth.login_param) %>
      </div>
    <% end %>

    <%= form.submit rodauth.reset_password_request_button, class: "flex w-full justify-center rounded-md bg-indigo-600 py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
  <% end %>
<%end%>
