<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title>Inventory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://ga.jspm.io/npm:flatpickr@4.6.9/dist/flatpickr.min.css">
    <script src="//unpkg.com/alpinejs"></script>
  </head>

  <body class="h-full" x-data="{'isModalOpen': false}" x-on:keydown.escape="isModalOpen=false" >
    <div class="min-h-full">
    <%= render Dashboard::TopBarComponent.new %>
      <div class="py-10">
        
        <main>
          <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
            <!-- Your content --><%= yield :header%>
            <%= yield :content%>
          </div>
        </main>
      </div>
    </div>
  </body>
   <%= render "shared/model" , object: Stock.new, url: stocks_path %>
</html>






